<table width="100%" border="0" cellspacing="0" id="adapters" >
  <thead>
    <tr>
      <th >ID</th>
      <th >Название</th>
      <th >Тип</th>
      <th >Адаптер</th>
      <th >Устройство</th>
      <th >&nbsp;</th>
    </tr>
  </thead>
  {list}
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><input type="button" onclick="add_adapter_dialog()" value="Добавить адаптер"/></td>
  </tr>
</table>
<div id="adapter-edit-form" title="DVB-Адаптер">
  <form action="{php_self}" id="adapter-edit-form-f" >
    <label for='name'>Название:</label>
    <input name='name' id='name' type="text" maxlength="50" class="text ui-widget-content ui-corner-all">
    <table width="100%" border="0" cellspacing="2" cellpadding="0">
      <tr>
        <td>Тип:</td>
        <td>Адаптер:</td>
        <td>Устр:</td>
        <td>Budget:</td>
      </tr>
      <tr>
        <td><select name="type" id="type" class="select ui-widget-content ui-corner-all" onchange="show_dvb_type_table()" style="height: 23px">
            <option>S</option>
            <option>S2</option>
            <option>T</option>
            <option>T2</option>
            <option>C</option>
            <option>ASI</option>
          </select></td>
        <td><input name='adapter' id='adapter' type="text" maxlength="50" class="text ui-widget-content ui-corner-all" value='0'></td>
        <td><input name='device' id='device' type="text" maxlength="50" class="text ui-widget-content ui-corner-all" value='0'></td>
        <td><input type="checkbox" name="budget" id="budget" //></td>
      </tr>
    </table>
    <label for='mac'>Mac:</label>
    <input name='mac' id='mac' type="text" maxlength="50" class="text ui-widget-content ui-corner-all">
    <table width="100%" border="0" cellspacing="2" cellpadding="0" id="dvbs">
      <tr>
        <td>Частота:</td>
        <td>Поляр.:</td>
        <td>Симв.ск.:</td>
      </tr>
      <tr>
        <td><input name='frequency' id='frequency' type="text" maxlength="10" class="text ui-widget-content ui-corner-all"></td>
        <td><select name="polarization" id="polarization" onChange="set_lnb(this.value)" class="select ui-widget-content ui-corner-all" style="height: 23px;">
            <option>H</option>
            <option>V</option>
            <option>R</option>
            <option>L</option>
          </select></td>
        <td><input name='symbolrate' id='symbolrate' type="text" maxlength="10" class="text ui-widget-content ui-corner-all"></td>
      </tr>
      <tr>
        <td>lof1</td>
        <td>lof2</td>
        <td>slof</td>
      </tr>
      <tr>
        <td><input name='lof1' id='lof1' type="text" maxlength="10" class="text ui-widget-content ui-corner-all"></td>
        <td><input name='lof2' id='lof2' type="text" maxlength="10" class="text ui-widget-content ui-corner-all"></td>
        <td><input name='slof' id='slof' type="text" maxlength="10" class="text ui-widget-content ui-corner-all"></td>
      </tr>
      <tr>
        <td>Питание LNB</td>
        <td>Тон 22кГц</td>
        <td>DiSEqC</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="lnb_sharing" id="lnb_sharing" /></td>
        <td><input type="checkbox" name="tone" id="tone" /></td>
        <td><input name='diseqc' id='diseqc' type="text" maxlength="10" class="text ui-widget-content ui-corner-all"></td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="2" cellpadding="0" id="dvbc" style="display: none;">
      <tr>
        <td>Частота:</td>
        <td>Симв.ск.:</td>
      </tr>
      <tr>
        <td><input name='frequency' id='frequency' type="text" maxlength="10" class="text ui-widget-content ui-corner-all"></td>
        <td><input name='symbolrate' id='symbolrate' type="text" maxlength="10" class="text ui-widget-content ui-corner-all"></td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="2" cellpadding="0" id="dvbt" style="display: none">
      <tr>
        <td>Частота:</td>
        <td>Полоса:</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><input name='frequency' id='frequency' type="text" maxlength="10" class="text ui-widget-content ui-corner-all"></td>
        <td><select name='bandwidth' id='bandwidth' class="select ui-widget-content ui-corner-all" style="height: 23px;">
            <option></option>
            <option>AUTO</option>
            <option>8mhz</option>
            <option>7mhz</option>
            <option>6mhz</option>
          </select></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Защ. интервал</td>
        <td>Размер БПФ</td>
        <td>Иерархия</td>
      </tr>
      <tr>
        <td><select name='guardinterval' id='guardinterval' class="select ui-widget-content ui-corner-all" style="height: 23px;">
            <option></option>
            <option>AUTO</option>
            <option>1/4</option>
            <option>1/8</option>
            <option>1/16</option>
            <option>1/32</option>
          </select></td>
        <td><select name='transmitmode' id='transmitmode' class="select ui-widget-content ui-corner-all" style="height: 23px;">
            <option></option>
            <option>AUTO</option>
            <option>2K</option>
            <option>4K</option>
            <option>8Л</option>
          </select></td>
        <td><select name='hierarchy' id='hierarchy' class="select ui-widget-content ui-corner-all" style="height: 23px;">
            <option></option>
            <option>NONE</option>
            <option>AUTO</option>
            <option>1</option>
            <option>2</option>
            <option>4</option>
          </select></td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="2" cellpadding="0">
      <tr>
        <td>Убрать SDT</td>
        <td>Убрать EIT</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="no_sdt" id="no_sdt" /></td>
        <td><input type="checkbox" name="no_eit" id="no_eit" /></td>
      </tr>
      
      <tr>
        <td>Полный SDT</td>
        <td>Полный EIT</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="no_sdt" id="pass_sdt" /></td>
        <td><input type="checkbox" name="no_eit" id="pass_eit" /></td>
      </tr>

      
      <tr>
        <td>Модуляция:</td>
        <td>FEC:</td>
      </tr>
      <tr>
        <td><select name='modulation' id='modulation' class="select ui-widget-content ui-corner-all" style="height: 23px;">
            <option></option>
            <option>AUTO</option>
            <option>NONE</option>
            <option>QPSK</option>
            <option>QAM16</option>
            <option>QAM32</option>
            <option>QAM64</option>
            <option>QAM128</option>
            <option>QAM256</option>
            <option>VSB8</option>
            <option>VSB16</option>
            <option>PSK8</option>
            <option>APSK16</option>
            <option>APSK32</option>
            <option>DQPSK</option>
            <option>QPSK</option>
            <option>QAM16</option>
            <option>QAM32</option>
            <option>QAM64</option>
            <option>QAM128</option>
            <option>QAM256</option>
            <option>VSB8</option>
            <option>VSB16</option>
            <option>PSK8</option>
            <option>APSK16</option>
            <option>APSK32</option>
            <option>DQPSK</option>
          </select></td>
        <td><select name='fec' id='fec' class="select ui-widget-content ui-corner-all" style="height: 23px;">
            <option></option>
            <option>AUTO</option>
            <option>NONE</option>
            <option>1/2</option>
            <option>2/3</option>
            <option>3/4</option>
            <option>4/5</option>
            <option>5/6</option>
            <option>6/7</option>
            <option>7/8</option>
            <option>8/9</option>
            <option>3/5</option>
            <option>9/10</option>
          </select></td>
      </tr>
      <tr>
        <td>Буфер DVB (блоков по 4К)</td>
        <td><input name='buffer_size' id='buffer_size' type="text" maxlength="10" class="text ui-widget-content ui-corner-all"></td>
      </tr>
    </table>
    <input type="hidden" name='plugin' id='plugin' value="adapters">
    <input type="hidden" name='action' id='action' value="add_adapter">
    <input type="hidden" name='dvb_input_id' id='dvb_input_id' value="">
  </form>
</div>
<script type='text/javascript'>
	
	function set_lnb(polarisation)
	{
		if(polarisation == 'H' || polarisation == 'V')
		{
			$("#adapter-edit-form #lof1").val("9750");
			$("#adapter-edit-form #lof2").val("10600");
			$("#adapter-edit-form #slof").val("11700");
		} else {
			$("#adapter-edit-form #lof1").val("10750");
			$("#adapter-edit-form #lof2").val("10750");
			$("#adapter-edit-form #slof").val("10750");
		}
	}
	
	$(document).ready(function() {
    	$('#adapters').dataTable( {
				"bPaginate": false,
				"bLengthChange": false,
				"bFilter": true,
				"bSort": true,
				"bInfo": false,
				"bStateSave": true,
				"bAutoWidth": false,
		        "bJQueryUI": true,
				"oLanguage": {
                	"sUrl": "scripts/jquery/datatables/js/dataTables.russian.txt"
            	},
				"sDom": '<"H"<"#adapters_header"lfr>lfr>t<"F"ip><"clear">',
				"aoColumnDefs": [
					  { "sWidth": "25px", "aTargets": [ 0 ] },
					  { "sWidth": "80px", "aTargets": [ 5 ] },
					  { 'bSortable': false, 'aTargets': [ 5 ] }
				],
				"fnInitComplete": function(oSettings, json) {
					$("#adapters_header").html('DVB-Адаптеры');
				}
			});
		} );
		
		$("#adapter-edit-form").dialog(
		{
			autoOpen: false,
			height: 570,
			width: 300,
			modal: true,
			open: function () {
				$("#adapter-edit-form #action").val("edit_adapter");
    		},
			buttons: {
				"Изменить": function()
				{
					$(this).dialog("close");
					$("#adapter-edit-form-f").submit();
				},
				"Отмена": function()
				{
					$(this).dialog("close");
				}
			},
		});
		
		
		function show_dvb_type_table()
		{

				//alert($('#type').val());
				switch ($('#type').val()) {
					case 'S':
						$('#dvbs').find(":input").prop("disabled", false);
						$('#dvbt').find(":input").prop("disabled", true);
						$('#dvbc').find(":input").prop("disabled", true);
						$('#dvbs').css( "display", "" )
						$('#dvbt').css( "display", "none" )
						$('#dvbc').css( "display", "none" )
						break;
					case 'S2':
						$('#dvbs').find(":input").prop("disabled", false);
						$('#dvbt').find(":input").prop("disabled", true);
						$('#dvbc').find(":input").prop("disabled", true);
						$('#dvbs').css( "display", "" )
						$('#dvbt').css( "display", "none" )
						$('#dvbc').css( "display", "none" )
						break
					case 'T':
						$('#dvbs').find(":input").prop("disabled", true);
						$('#dvbt').find(":input").prop("disabled", false);
						$('#dvbc').find(":input").prop("disabled", true);
						$('#dvbs').css( "display", "none" )
						$('#dvbt').css( "display", "" )
						$('#dvbc').css( "display", "none" )
						break;
					case 'T2':
						$('#dvbs').find(":input").prop("disabled", true);
						$('#dvbt').find(":input").prop("disabled", false);
						$('#dvbc').find(":input").prop("disabled", true);
						$('#dvbs').css( "display", "none" )
						$('#dvbt').css( "display", "" )
						$('#dvbc').css( "display", "none" )
						break;
					case 'C':
						$('#dvbs').find(":input").prop("disabled", true);
						$('#dvbt').find(":input").prop("disabled", true);
						$('#dvbc').find(":input").prop("disabled", false);
						$('#dvbs').css( "display", "none" )
						$('#dvbt').css( "display", "none" )
						$('#dvbc').css( "display", "" )
					case 'ASI':
						$('#dvbs').find(":input").prop("disabled", true);
						$('#dvbt').find(":input").prop("disabled", true);
						$('#dvbc').find(":input").prop("disabled", true);
						$('#dvbs').css( "display", "none" )
						$('#dvbt').css( "display", "none" )
						$('#dvbc').css( "display", "none" )
						break;
				}
		
		}
		
		function add_adapter_dialog()
		{
				$(".ui-dialog-buttonpane button:contains(Изменить)").attr("id","dialog_box_send-button");
				$('#dialog_box_send-button').html("<span class='ui-button-text'>Добавить</span>");
				$("#adapter-edit-form").dialog( "open" );
				$("#adapter-edit-form #action").val("add_adapter");
				$("#adapter-edit-form #lnb_sharing").prop('checked', true);;
				$("#adapter-edit-form #lof1").val("9750");
				$("#adapter-edit-form #lof2").val("10600");
				$("#adapter-edit-form #slof").val("11700");

				show_dvb_type_table();
		}
		
		function edit_adapter_dialog(dvb_input_id)
		{
				$(".ui-dialog-buttonpane button:contains(Добавить)").attr("id","dialog_box_send-button");
				$('#dialog_box_send-button').html("<span class='ui-button-text'>Изменить</span>");
				$("#adapter-edit-form").dialog( "open" );
				$("#adapter-edit-form #action").val("edit_adapter");

				$.ajax({
					  url: "{php_self}",
					  type: "GET",
					  data: { dvb_input_id : dvb_input_id , plugin : 'adapters', action : "get_adapter_params" },
					  async: false,
					  dataType: "script"
				});
				
				show_dvb_type_table();
		}

</script>