 <tr >
    <td height="30" style="">{dvb_input_id}</td>
    <td ><strong>{name}</strong></td>
    <td >{type}</td>
    <td >{adapter}</td>
    <td >{device}</td>
    <td >
        <a href="#" onclick='edit_adapter_dialog({dvb_input_id});
                                return false;'><img border="0" style="padding-left: 5px; padding-right: 5px;" src="images/icons/cog.png" alt="Редактировать" title="Редактировать"></a>
        <a style="{delete_display}" onclick="return confirm('Удалить адаптер?')" href="{php_self}?plugin=adapters&action=delete_adapter&dvb_input_id={dvb_input_id}"><img title="Удалить адаптер" src="images/icons/cross.png"></a>
        
        </td>
  </tr>