 <tr >
    <td style="height: 30px;" >{num}</td>
    <td >{user}</td>
    <td >
        <a href="#" onclick='$("#user-edit-form #user").val("{user}");
                             $("#user-edit-form #user_id").val("{user_id}");
                             edit_user_dialog();
                             return false;'><img border="0" style="padding-left: 5px; padding-right: 5px;" src="images/icons/cog.png" alt="Редактировать" title="Редактировать"></a>
    	<a href="{php_self}?plugin=users&action=delete_user&user_id={user_id}" onclick="return confirm('Удалить пользователя?')"><img title="Удалить пользователя" src="images/icons/cross.png"></a>
        </td>
  </tr>