<table width="100%" border="0" cellspacing="0" id="users">
  <thead>
    <tr>
      <th >#</th>
      <th>Пользователь</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  {list}
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><input type="button" onclick="add_user_dialog()" value="Добавить пользователя"/></td>
  </tr>
</table>
<div id="user-edit-form" title="Пользователь">
  <form action="{php_self}" id="user-edit-form-f" >
    <label for='user'>Пользователь:</label>
    <input name='user' id='user' type="text" maxlength="50" class="text ui-widget-content ui-corner-all">
    <label for='password'>Пароль:</label>
    <input name='password' id='password' type="text" maxlength="50" class="text ui-widget-content ui-corner-all">
    <input type="hidden" name='plugin' id='plugin' value="users">
    <input type="hidden" name='action' id='action' value="add_user">
    <input type="hidden" name='user_id' id='user_id' value="">
  </form>
</div>
<script type='text/javascript'>
	$(document).ready(function() {
    	$('#users').dataTable( {
				"bPaginate": false,
				"bLengthChange": false,
				"bFilter": true,
				"bSort": true,
				"bInfo": false,
				"bAutoWidth": false,
		        "bJQueryUI": true,
				"oLanguage": {
                	"sUrl": "scripts/jquery/datatables/js/dataTables.russian.txt"
            	},
				"sDom": '<"H"<"#users_header"lfr>lfr>t<"F"ip><"clear">',
				"aoColumnDefs": [
					  { "sWidth": "25px", "aTargets": [ 0 ] },
					  { "sWidth": "80px", "aTargets": [ 2 ] },
					  { 'bSortable': false, 'aTargets': [ 2 ] }
				],
				"fnInitComplete": function(oSettings, json) {
					$("#users_header").html('Пользователи');
				}
			});
		} );
		
		$("#user-edit-form").dialog(
		{
			autoOpen: false,
			height: 230,
			width: 300,
			modal: true,
			open: function () {
				$("#user-edit-form #action").val("edit_user");
    		},
			buttons: {
				"Изменить": function()
				{
					$(this).dialog("close");
					$("#user-edit-form-f").submit();
				},
				"Отмена": function()
				{
					$(this).dialog("close");
				}
			},
		});

		function edit_user_dialog()
		{		
				$(".ui-dialog-buttonpane button:contains(Добавить)").attr("id","dialog_box_send-button");
				$('#dialog_box_send-button').html("<span class='ui-button-text'>Изменить</span>");
				$("#user-edit-form").dialog( "open" );
				$("#user-edit-form #action").val("edit_user");
		}
		
		function add_user_dialog()
		{
				$(".ui-dialog-buttonpane button:contains(Изменить)").attr("id","dialog_box_send-button");
				$('#dialog_box_send-button').html("<span class='ui-button-text'>Добавить</span>");
				$("#user-edit-form #user").val("");
				$("#user-edit-form #password").val("");
				$("#user-edit-form").dialog( "open" );
				$("#user-edit-form #action").val("add_user");
		}
		
</script> 