<form id='channel_edit_form' method="post" action="{php_self}">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: white" >
    <tr>
      <td colspan="3" ><div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix" style="height: 28px; padding-top: 6px; padding-left: 250px;" >Редактирование канала</div></td>
    </tr>
    <tr>
      <td width="10%" style="padding: 4px; border-left: 1px solid #aaaaaa">Название:</td>
      <td colspan="2" style="padding: 4px; border-right: 1px solid #aaaaaa"><input name="name" id="name" value="{name}" maxlength="50"></td>
    </tr>
    <tr>
      <td style="padding: 4px; border-left: 1px solid #aaaaaa">Astra:</td>
      <td colspan="2" style="padding: 4px; border-right: 1px solid #aaaaaa">{astra_select} <a href="" onclick="return channel_reload_astra();"><img title="Перезагрузить" src="images/icons/arrow_refresh.png"></a></td>
    </tr>
    <tr>
      <td style="padding: 4px; border-left: 1px solid #aaaaaa">Включен:</td>
      <td colspan="2" style="padding: 4px; border-right: 1px solid #aaaaaa"><input type="checkbox" name="enable" id="enable" {enable_checked}></td>
    </tr>
    <tr>
      <td style="padding: 4px; border-left: 1px solid #aaaaaa">Мониторинг:</td>
      <td colspan="2" style="padding: 4px; border-right: 1px solid #aaaaaa"><input type="checkbox" name="event" id="event" {event_checked}></td>
    </tr>
    <tr>
      <td colspan="3" align="center"  style="padding: 4px; border-left: 1px solid #aaaaaa; border-right: 1px solid #aaaaaa"><input type="submit" value="Сохранить" ></td>
    </tr>
    <tr>
      <td colspan="3" align="center"  style="padding: 4px; border-left: 1px solid #aaaaaa; border-right: 1px solid #aaaaaa">&nbsp;</td>
    </tr>
    <tr>
      <td  style="padding: 4px; border-left: 1px solid #aaaaaa; background-color: #F4F4F4" height="28"><strong>Входы</strong></td>
      <td  style="background-color: #F4F4F4" >&nbsp;</td>
      <td  style="padding: 4px; border-right: 1px solid #aaaaaa; background-color: #F4F4F4" ><input type="button" value="Добавить вход" onclick="add_input_dialog()" /></td>
    </tr>
    <tr>
      <td colspan="3"  style="padding: 4px; border-left: 1px solid #aaaaaa;  border-right: 1px solid #aaaaaa"><table width="100%" border="0" cellspacing="0" cellpadding="0" id="input_list">
          <thead id="input_list_header">
            <tr>
              <th>Приоритет</th>
              <th>Адрес</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
        </table></td>
    </tr>
    <tr>
      <td style="padding: 4px; border-left: 1px solid #aaaaaa; background-color: #F4F4F4" height="28"><strong>Выходы</strong></td>
      <td style="padding: 4px; background-color: #F4F4F4" height="28">&nbsp;</td>
      <td style="padding: 4px; border-right: 1px solid #aaaaaa; background-color: #F4F4F4" height="28"><input type="button" value="Добавить выход" onclick="add_output_dialog()" /></td>
    </tr>
    <tr>
      <td colspan="3" style="padding: 4px; border-left: 1px solid #aaaaaa;  border-right: 1px solid #aaaaaa"><table width="100%" border="0" cellspacing="0" cellpadding="0" id="output_list">
          <thead id="output_list_header">
            <tr>
              <th>Адрес</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
        </table></td>
    </tr>
    <tr>
      <td height="28" width="45%" colspan="2" style="padding: 4px; border-left: 1px solid #aaaaaa; background-color: #F4F4F4"><strong>Глобальное преобразования PID на выходе</strong></td>
      <td width="55%" style="padding: 4px; border-right: 1px solid #aaaaaa; background-color: #F4F4F4"><input type="button" value="Добавить преобр." onclick="add_map_dialog()">
        &nbsp;&nbsp;&nbsp;
        Вставить из шаблона {map_template_select}
        <input type="button" value=" >> " onclick="add_map_template()">
        &nbsp;&nbsp;&nbsp;
        <input type="button" value="Удалить все" onclick="delete_all_maps()"></td>
    </tr>
    <tr>
      <td colspan="3" style="padding: 4px; border-left: 1px solid #aaaaaa; border-right: 1px solid #aaaaaa"><table width="100%" border="0" cellspacing="0" cellpadding="0" id="map_list">
          <thead id="map_list_header">
            <tr>
              <th>Входной PID</th>
              <th>Выходной PID</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
        </table></td>
    </tr>
    <tr>
      <td colspan="3"><div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix" style="height: 10px;"></div></td>
    </tr>
  </table>
    <input type="hidden" name='plugin' id='plugin' value="channels">
    <input type="hidden" name='action' id='action' value="edit_channel">
    <input type="hidden" name='channel_id' id='channel_id' value="{channel_id}">
</form>
<div id="map-edit-form" title="Преобразование PID">
  <form action="{php_self}" id="map-edit-form-f" >
    <label for='input_pid'>Входящий PID:</label>
    <input name='input_pid' id='input_pid' type="text" maxlength="50" class="text ui-widget-content ui-corner-all">
    <label for='output_pid'>Исходящий PID:</label>
    <input name='output_pid' id='output_pid' type="text" maxlength="50" class="text ui-widget-content ui-corner-all">
    <input type="hidden" name='plugin' id='plugin' value="channels">
    <input type="hidden" name='action' id='action' value="edit_map">
    <input type="hidden" name='map_id' id='map_id' value="">
    <input type="hidden" name='channel_id' id='channel_id' value="{channel_id}">
  </form>
</div>
<div id="output-edit-form" title="Выход">
  <form action="{php_self}" id="output-edit-form-f" method="get">
    <label for='type'>Тип:</label>
    <select name="type" id="type" onchange="show_output_type_table()">
      <option>udp</option>
      <option>http</option>
      <option>file</option>
    </select>
    <table width="100%" border="0" cellspacing="2" cellpadding="0" id="out_udp" >
      <tr>
        <td>Адрес:
          <input id='address' name='address' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
        <td>Порт:
          <input id='port' name='port' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
      </tr>
      <tr>
        <td colspan="2">Интерфейс
          <input id='interface' name='interface' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
          </td>
      </tr>
      <tr>
        <td>RTP:
          <input id='rtp' name='rtp' type="checkbox"  /></td>
        <td>Выровнять, МБит:
          <input id='sync' name='sync' type="text" maxlength="5" class="text ui-widget-content ui-corner-all"/></td>
      </tr>
      <tr>
        <td>TTL:
          <input id='ttl' name='ttl' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
        <td>Буфер сокета, байт:
          <input id='socket_size' name='socket_size' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="2" cellpadding="4" id="out_http" style="display: none">
      <tr>
        <td colspan="2">Интерфейс:
          <input id='interface' name='interface' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
        <td>Порт:
          <input id='port' name='port' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
      </tr>
      <tr>
        <td colspan=3>Путь:
          <input id='path' name='path' type="text" maxlength="512" class="text ui-widget-content ui-corner-all"></td>
      </tr>
      <tr>
        <td>Буфер, кб</td>
        <td>Наполнение, кб</td>
        <td>Начальное наполнение, кб</td>
      </tr>
      <tr>
        <td><input id='buffer_size' name='buffer_size' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
        <td><input id='buffer_fill' name='buffer_fill' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
        <td><input id='buffer_prefill' name='buffer_prefill' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="2" cellpadding="0" id="out_file" style="display: none">
      <tr>
        <td>Путь:
          <input id='path' name='path' type="text" maxlength="512" class="text ui-widget-content ui-corner-all"></td>
      </tr>
      <tr>
        <td>m2ts
          <input type="checkbox" name="m2ts" id="m2ts" /></td>
      </tr>
    </table>
    <input type="hidden" name='plugin' id='plugin' value="channels">
    <input type="hidden" name='action' id='action' value="edit_output">
    <input type="hidden" name='output_id' id='output_id' value="">
    <input type="hidden" name='channel_id' id='channel_id' value="{channel_id}">
  </form>
</div>
<div id="input-edit-form" title="Вход">
  <form action="{php_self}" id="input-edit-form-f" method="get">
    <table width="100%" border="0" cellspacing="2" cellpadding="0" >
      <tr>
        <td ><label for='type'>Тип:</label>
          <select name="type" id="type" onchange="show_input_type_table()">
            <option>dvb</option>
            <option>udp</option>
            <option>http</option>
            <option>file</option>
          </select></td>
        <td >Приоритет:
          <input name='priority' id="priority" type="text" maxlength="5" class="text ui-widget-content ui-corner-all"></td>
      </tr>
      </table>
    <table width="100%" border="0" cellspacing="2" cellpadding="0" id="in_dvb" >
      <tr>
        <td >Адаптер</td>
        <td id='dvb_input_select'></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="2" cellpadding="0" id="in_udp" >
      <tr>
        <td>Адрес:
          <input id='address' name='address' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
        <td>Порт:
          <input id='port' name='port' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
      </tr>
      <tr>
        <td colspan="2">Интерфейс
          <input id='interface' name='interface' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
          </td>
      </tr>
      <tr>
        <td>RTP:
          <input id='rtp' name='rtp' type="checkbox"  /></td>
        <td>Буфер сокета, байт:
          <input id='socket_size' name='socket_size' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="2" cellpadding="4" id="in_http" style="display: none">
      <tr>
        <td colspan="2">Адрес:
          <input id='address' name='address' type="text" maxlength="30" class="text ui-widget-content ui-corner-all"></td>
        <td>Порт:
          <input id='port' name='port' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
      </tr>
      <tr>
        <td colspan=3>Путь:
          <input id='path' name='path' type="text" maxlength="512" class="text ui-widget-content ui-corner-all"></td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="2" cellpadding="0" id="in_file" style="display: none">
      <tr>
        <td colspan="2">Путь:
          <input id='path' name='path' type="text" maxlength="512" class="text ui-widget-content ui-corner-all"></td>
      </tr>
      <tr>
        <td colspan="2">Файл для сохранения позиции:
          <input id='lock' name='lock' type="text" maxlength="512" class="text ui-widget-content ui-corner-all"></td>
      </tr>
      <tr>
        <td>Повтор:
          <input id='loop' name='loop' type="checkbox"  /></td>
        <td>
        Размер буфера, МБ <input id='buffer_size' name='buffer_size' type="text" maxlength="4" class="text ui-widget-content ui-corner-all">
       </td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="2" cellpadding="0" >
      <tr>
        <td>PNR:
          <input id='pnr' name='pnr' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
        <td>Уст. PNR
          <input id='set_pnr' name='set_pnr' type="text" maxlength="16" class="text ui-widget-content ui-corner-all"></td>
      </tr>
      <tr>
        <td><label for='cam'>CAM:</label>
          <select name="cam" id="cam" onchange="">
            <option value=''>Нет</option>
            <option value='hardware'>Аппаратный</option>
            <option value='newcamd'>Newcamd</option>
            <option value='biss'>BISS</option>
          </select>
        </td>
        <td >
        <label for='newcamd_id'>Аккаунт newcamd:</label>
        <div id='newcamd_select'></div>
       </td>
      </tr>
      <tr>
        <td>Параметры SoftCam</td>
        <td><input id='cas_data' name='cas_data' type="text" maxlength="30" class="text ui-widget-content ui-corner-all"></td>
      </tr>
      <tr>
        <td>Ключ BISS</td>
        <td><input id='biss' name='biss' type="text" maxlength="30" class="text ui-widget-content ui-corner-all"></td>
      </tr>
    </table>
    <input type="hidden" name='plugin' id='plugin' value="channels">
    <input type="hidden" name='action' id='action' value="edit_input">
    <input type="hidden" name='input_id' id='input_id' value="">
    <input type="hidden" name='channel_id' id='channel_id' value="{channel_id}">
  </form>
</div>
<script type="text/javascript">
		
		function channel_reload_astra()
		{
				astra_id = $("#astra_id").val();
				if (confirm('Перезагрузить?'))
				{
					$.ajax({
						  url: "{php_self}",
						  type: "GET",
						  data: { astra_id : astra_id , plugin : 'astras', action : "reload_astra" },
						  async: false,
					});
				}
				
				return false;
		}
		
		
		
		$("#output-edit-form").dialog(
		{
			autoOpen: false,
			height: 400,
			width: 350,
			modal: true,
			open: function () {
				$("#output-edit-form #action").val("edit_output");
    		},
			buttons: [
				{
					id : 'output_submit_button',
					text : "Изменить",
					click : function() {
						$(this).dialog("close");
						$("#output-edit-form-f").submit();                			
					}
				},{
					text : "Отмена",
					click : function(){
						$(this).dialog("close");
					}
				}]
		});
		
		var output_frm = $('#output-edit-form-f');
		output_frm.submit(function (ev) {
			$.ajax({
				type: output_frm.attr('method'),
				url: output_frm.attr('action'),
				data: output_frm.serialize(),
				success: function (data) {
					refresh_outputs();
				}
			});
	
			ev.preventDefault();
		});
		
	
		$("#input-edit-form").dialog(
		{
			autoOpen: false,
			height: 500,
			width: 350,
			modal: true,
			open: function () {
				$("#input-edit-form #action").val("edit_input");
    		},
			buttons: [
				{
					id : 'input_submit_button',
					text : "Изменить",
					click : function() {
						$(this).dialog("close");
						$("#input-edit-form-f").submit();                			
					}
				},{
					text : "Отмена",
					click : function(){
						$(this).dialog("close");
					}
				}]
		});
		
		var input_frm = $('#input-edit-form-f');
		input_frm.submit(function (ev) {
			$.ajax({
				type: input_frm.attr('method'),
				url: input_frm.attr('action'),
				data: input_frm.serialize(),
				success: function (data) {
					refresh_inputs();
				}
			});
	
			ev.preventDefault();
		});
		
		function edit_output_dialog(output_id)
		{		
				$('#output_submit_button').html("<span class='ui-button-text'>Изменить</span>");
				$("#output-edit-form").dialog( "open" );
				$("#output-edit-form #action").val("edit_output");
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { output_id : output_id , plugin : 'channels', action : "get_output_params" },
				  async: false,
				  dataType: "script"
				});
				show_output_type_table();
		}
		
		
		function edit_input_dialog(input_id)
		{		
				$('#input_submit_button').html("<span class='ui-button-text'>Изменить</span>");
				$("#input-edit-form").dialog( "open" );
				$("#input-edit-form #action").val("edit_input");
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { plugin : 'channels', action : "get_dvb_input_select" },
				  async: false,
				  success: function(html){  
       						 $("#dvb_input_select").html(html);  
				   }  
				});
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { plugin : 'channels', action : "get_newcamd_select" },
				  async: false,
				  success: function(html){  
       						 $("#newcamd_select").html(html);
				   }  
				});
				
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { input_id : input_id , plugin : 'channels', action : "get_input_params" },
				  async: false,
				  dataType: "script"
				});
				show_input_type_table();
		}
		
		function add_output_dialog()
		{		
				$('#output_submit_button').html("<span class='ui-button-text'>Добавить</span>");
				$("#output-edit-form").dialog( "open" );
				$("#output-edit-form #action").val("add_output");
				$("#output-edit-form #port").val("1234");
				$("#output-edit-form #ttl").val("64");
				show_output_type_table();
		}
		
		function add_input_dialog()
		{		
				$('#input_submit_button').html("<span class='ui-button-text'>Добавить</span>");
				$("#input-edit-form").dialog( "open" );
				$("#input-edit-form #action").val("add_input");
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { plugin : 'channels', action : "get_dvb_input_select" },
				  async: false,
				  success: function(html){  
       						 $("#dvb_input_select").html(html);  
				   }  
				});
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { plugin : 'channels', action : "get_newcamd_select" },
				  async: false,
				  success: function(html){  
       						 $("#newcamd_select").html(html);
			 				 $("#input-edit-form #newcamd_id").val('');  
				   }  
				});
				
				show_input_type_table();
		}
		
		function show_output_type_table()
		{

				//alert($('#type').val());
				switch ($('#output-edit-form #type').val()) {
					case 'udp':
						$('#out_udp').find(":input").prop("disabled", false);
						$('#out_http').find(":input").prop("disabled", true);
						$('#out_file').find(":input").prop("disabled", true);
						$('#out_udp').css( "display", "" )
						$('#out_http').css( "display", "none" )
						$('#out_file').css( "display", "none" )
						break;
					case 'http':
						$('#out_udp').find(":input").prop("disabled", true);
						$('#out_http').find(":input").prop("disabled", false);
						$('#out_file').find(":input").prop("disabled", true);
						$('#out_udp').css( "display", "none" )
						$('#out_http').css( "display", "" )
						$('#out_file').css( "display", "none" )
						break
					case 'file':
						$('#out_udp').find(":input").prop("disabled", true);
						$('#out_http').find(":input").prop("disabled", true);
						$('#out_file').find(":input").prop("disabled", false);
						$('#out_udp').css( "display", "none" )
						$('#out_http').css( "display", "none" )
						$('#out_file').css( "display", "" )
						break;
				}
		}
		
		
		function show_input_type_table()
		{

				//alert($('#type').val());
				switch ($('#input-edit-form #type').val()) {
					case 'dvb':
						$('#in_dvb').find(":input").prop("disabled", false);
						$('#in_udp').find(":input").prop("disabled", true);
						$('#in_http').find(":input").prop("disabled", true);
						$('#in_file').find(":input").prop("disabled", true);
						$('#in_dvb').css( "display", "" )
						$('#in_udp').css( "display", "none" )
						$('#in_http').css( "display", "none" )
						$('#in_file').css( "display", "none" )
						break;
					case 'udp':
						$('#in_dvb').find(":input").prop("disabled", true);
						$('#in_udp').find(":input").prop("disabled", false);
						$('#in_http').find(":input").prop("disabled", true);
						$('#in_file').find(":input").prop("disabled", true);
						$('#in_dvb').css( "display", "none" )
						$('#in_udp').css( "display", "" )
						$('#in_http').css( "display", "none" )
						$('#in_file').css( "display", "none" )
						break;
					case 'http':
						$('#in_dvb').find(":input").prop("disabled", true);
						$('#in_udp').find(":input").prop("disabled", true);
						$('#in_http').find(":input").prop("disabled", false);
						$('#in_file').find(":input").prop("disabled", true);
						$('#in_dvb').css( "display", "none" )
						$('#in_udp').css( "display", "none" )
						$('#in_http').css( "display", "" )
						$('#in_file').css( "display", "none" )
						break
					case 'file':
						$('#in_dvb').find(":input").prop("disabled", true);
						$('#in_udp').find(":input").prop("disabled", true);
						$('#in_http').find(":input").prop("disabled", true);
						$('#in_file').find(":input").prop("disabled", false);
						$('#in_dvb').css( "display", "none" )
						$('#in_udp').css( "display", "none" )
						$('#in_http').css( "display", "none" )
						$('#in_file').css( "display", "" )
						break;
				}
		}
		
		
		
		var map_frm = $('#map-edit-form-f');
		map_frm.submit(function (ev) {
			$.ajax({
				type: map_frm.attr('method'),
				url: map_frm.attr('action'),
				data: map_frm.serialize(),
				success: function (data) {
					refresh_maps();
				}
			});
	
			ev.preventDefault();
		});
		
		
		

		$("#map-edit-form").dialog(
		{
			autoOpen: false,
			height: 250,
			width: 300,
			modal: true,
			open: function () {
				$("#map-edit-form #action").val("edit_map");
    		},
			buttons: [
				{
					id : 'map_submit_button',
					text : "Изменить",
					click : function() {
						$(this).dialog("close");
						$("#map-edit-form-f").submit();                			
					}
				},{
					text : "Отмена",
					click : function(){
						$(this).dialog("close");
					}
				}]
		});

		function edit_map_dialog()
		{		
				$('#map_submit_button').html("<span class='ui-button-text'>Изменить</span>");
				$("#map-edit-form").dialog( "open" );
				$("#map-edit-form #action").val("edit_map");
		}
		
		function add_map_dialog()
		{
				$('#map_submit_button').html("<span class='ui-button-text'>Добавить</span>");
				$("#map-edit-form #input_pid").val("");
				$("#map-edit-form #output_pid").val("");
				$("#map-edit-form").dialog( "open" );
				$("#map-edit-form #action").val("add_map");
		}

	
	function add_map_template(){
		if (confirm("Добавить приобразования из шаблона?")) {
			$.ajax({
				url: "{php_self}",
				type: "POST",
				data: { plugin : "channels", action : 'add_map_template', channel_id : "{channel_id}", map_template_id : $('#map_template_id').val() },
				async: true,
				success: function(html){  
					refresh_maps();
				}  
			});
		}else{
			
		}
	}
	
	function delete_all_maps(){
		if (confirm("Удалить все преобразования?")) {
			$.ajax({
					url: "{php_self}",
					type: "POST",
					data: { plugin : "channels", action : 'delete_all_maps', channel_id : "{channel_id}" },
					async: true,
					success: function(html){  
						refresh_maps();
					}  
				});
			}else{
				
			}
	}
	
	function delete_input(input_id)
	{
		if (confirm("Удалить вход?")) {
			$.ajax({
				url: "{php_self}",
				type: "POST",
				data: { plugin : "channels", action : 'delete_input', channel_id : "{channel_id}" , input_id : input_id },
				async: true,
				success: function(html){  
					refresh_inputs();
				}  
			});
		}else{
			
		}
	}

	function delete_output(output_id)
	{
		if (confirm("Удалить выход?")) {
			$.ajax({
				url: "{php_self}",
				type: "POST",
				data: { plugin : "channels", action : 'delete_output', channel_id : "{channel_id}" , output_id : output_id },
				async: true,
				success: function(html){  
					refresh_outputs();
				}  
			});	
		} else {
		
		}
	}
	
	function delete_map(map_id)
	{
		if (confirm("Удалить преобразование?")) {
			$.ajax({
				url: "{php_self}",
				type: "POST",
				data: { plugin : "channels", action : 'delete_map', channel_id : "{channel_id}" , map_id : map_id },
				async: true,
				success: function(html){  
					refresh_maps();
				}  
			});	
		} else {
		
		}
	}
	
	function delete_filter(filter_id, input_id)
	{
		if (confirm("Удалить фильтр?")) {
			$.ajax({
				url: "{php_self}",
				type: "POST",
				data: { plugin : "channels", action : 'delete_filter', input_id : input_id , filter_id : filter_id },
				async: true,
				success: function(html){  
					refresh_filters();
				}  
			});	
		} else {
		
		}
	}
	
	function refresh_inputs()
	{
		$.ajax({
		  	url: "{php_self}",
			type: "POST",
			data: { plugin : "channels", action : 'get_inputs', channel_id : "{channel_id}" },
			async: true,
			success: function(html){  
       			 $("#input_list").find("tr:gt(0)").remove();
				 $("#input_list_header").after(html);  
			}  
		});	
	
	}
	
	function refresh_outputs()
	{
		$.ajax({
		  	url: "{php_self}",
			type: "POST",
			data: { plugin : "channels", action : 'get_outputs', channel_id : "{channel_id}"  },
			async: true,
			success: function(html){
       			 $("#output_list").find("tr:gt(0)").remove();  
       			 $("#output_list_header").after(html);  
			}  
		});	
	}
	
	function refresh_maps()
	{
		$.ajax({
		  	url: "{php_self}",
			type: "POST",
			data: { plugin : "channels", action : 'get_maps', channel_id : "{channel_id}"  },
			async: true,
			success: function(html){
       			 $("#map_list").find("tr:gt(0)").remove();  
       			 $("#map_list_header").after(html);  
			}  
		});	
	}
	
	function refresh_filters()
	{
		$.ajax({
		  	url: "{php_self}",
			type: "POST",
			data: { plugin : "channels", action : 'get_filters', channel_id : "{input_id}"  },
			async: true,
			success: function(html){
       			 $("#filter_list").find("tr:gt(0)").remove();  
       			 $("#filter_list_header").after(html);  
			}  
		});	
	}
	
	
	$(document).ready(function() {
		refresh_inputs();
		refresh_outputs();
		refresh_maps();
		
		$("#channel-edit-form").dialog(
		{
			autoOpen: false,
			height: 400,
			width: 300,
			modal: true,
			open: function () {
				$("#channel-edit-form #action").val("edit_channel");
    		},
			buttons: [
				{
					id : 'channel_submit_button',
					text : "Изменить",
					click : function() {
						$(this).dialog("close");
						$("#channel-edit-form-f").submit();                			
					}
				},{
					text : "Отмена",
					click : function(){
						$(this).dialog("close");
					}
				}]
		});
	})
</script> 
