
<tr >
  <td style=" ">{num}</td>
  <td style=""><a href='#' onclick="_open( '{php_self}?plugin=channels&action=play_channel&channel_id={channel_id}&output_id={output_id}', 420 , 370 ); return false;">{channel_name}</a></td>
  <td style="" ><span style="cursor:pointer" onClick="channelsTable.fnFilter('{astra_name}');">{astra_name} (<strong>{astra_id}</strong>)</a></td>
  <td style=""><span style="cursor:pointer" onClick="channelsTable.fnFilter('{input}');"><strong>{input}</strong></span></td>
  <td style=""><strong>{output}</strong></td>
  <td style="background-color: {onair_bgcolor};" align="center"><img title="{onair_title}" src="images/icons/{onair_image}" /></td>
  <td style="background-color: {scrambled_bgcolor};" align="center"><img title="{scrambled_title}" src="images/icons/{scrambled_image}" /></td>
  <td style="background-color: {bitrate_bgcolor};">{bitrate}</td>
  <td style="background-color: {cc_error_bgcolor};">{cc_error}</td>
  <td style="background-color: {pes_error_bgcolor};">{pes_error}</td>
  <td style="background-color: {last_update_bgcolor};">{last_update}</td>
  <td style=" ">
    <a href='#' onclick="_open( '{php_self}?plugin=channels&action=play_channel&channel_id={channel_id}&output_id={output_id}', 420 , 370 ); return false;"><img title="Воспроизвести в отдельном окне" src="images/icons/control_play.png"></a>
    <a href="{php_self}?plugin=channels&action=channel_info&channel_id={channel_id}" ><img border="0" style="padding-left: 5px; padding-right: 5px;" src="images/icons/cog.png" alt="Редактировать" title="Редактировать"></a>
   	<a onclick="return confirm('Удалить канал?')"  href="{php_self}?plugin=channels&action=delete_channel&channel_id={channel_id}"><img title="Удалить канал" src="images/icons/cross.png"></a>
    </td>
    
</tr>
