<table width="100%" border="0" cellspacing="0" cellpadding="4" id="channels">
  <thead>
    <tr>
      <th >#</th>
      <th >Канал</th>
      <th >Astra</th>
      <th >Вход</th>
      <th >Выход</th>
      <th align="center" >Работает</th>
      <th align="center" >Открыт</th>
      <th >Битрейт</th>
      <th >CC</th>
      <th >PES</th>
      <th >Обновлено</th>
      <th >&nbsp;</th>
    </tr>
  </thead>
  {list}
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><input type="button" onclick="add_channel_dialog()" value="Добавить канал"/></td>
  </tr>
</table>
<div id="channel-edit-form" title="Добавить канал">
  <form action="{php_self}" id="channel-edit-form-f" >
    
    
    <table width="100%" border="0" cellspacing="3" cellpadding="0">
  <tr>
    <td>Название:</td>
    <td><input name='name' id='name' type="text" maxlength="50" class="text ui-widget-content ui-corner-all"></td>
  </tr>
  <tr>
    <td>Астра:</td>
    <td><div id='astra_select'></div></td>
  </tr>
  <tr>
    <td>Включен:</td>
    <td><input type="checkbox" name="enable" id="enable"></td>
  </tr>
  <tr>
    <td>Мониторинг:</td>
    <td><input type="checkbox" name="event" id="event"></td>
  </tr>

</table>
    <input type="hidden" name='plugin' id='plugin' value="channels">
    <input type="hidden" name='action' id='action' value="add_channel">
    <input type="hidden" name='channel_id' id='channel_id' value="">
  </form>
</div>
<script type="text/javascript">
	    function _open( url, width, height ) {
	        window.open( url,'' , 'fullscreen=no,location=no,menubar=no,toolbar=no,status=no,width=' + width + ',height=' + height + ',left=' + ((window.innerWidth - width)/2) + ',top=' + ((window.innerHeight - height)/2) );
	    }
	var channelsTable;
		
	$(document).ready(function() {
    	channelsTable = $('#channels').dataTable( {
				"bPaginate": false,
				"bLengthChange": false,
				"bFilter": true,
				"bSort": true,
				"bInfo": false,
				"bAutoWidth": false,
		        "bJQueryUI": true,
				"bStateSave": true,
				"oLanguage": {
                	"sUrl": "scripts/jquery/datatables/js/dataTables.russian.txt"
            	},
				"sDom": '<"H"<"#channels_header"lfr>lfr>t<"F"ip><"clear">',
				"aoColumnDefs": [
					  { "sWidth": "25px", "aTargets": [ 0 ] },
					  { "sWidth": "80px", "aTargets": [ 11 ] },
					  { 'bSortable': false, 'aTargets': [ 11 ] },
				      { "sType": "natural", "aTargets": [ 1 ] },
  				      { "sType": "natural", "aTargets": [ 2 ] },
				      { "sType": "natural", "aTargets": [ 3 ] },
  				      { "sType": "natural", "aTargets": [ 4 ] }					  
				],
				"fnInitComplete": function(oSettings, json) {
					$("#channels_header").html('Каналы');
				}
			});
		} );
		
		$("#channel-edit-form").dialog(
		{
			autoOpen: false,
			height: 250,
			width: 400,
			modal: true,
			open: function () {
				stop_reload();
				$("#channel-edit-form #action").val("edit_channel");
    		},
			close: function () {
				set_reload();
    		},

			buttons: [
				{
					id : 'channel_submit_button',
					text : "Изменить",
					click : function() {
						$(this).dialog("close");
						$("#channel-edit-form-f").submit();                			
					}
				},{
					text : "Отмена",
					click : function(){
						$(this).dialog("close");
					}
				}]
		});
		
		function edit_channel_dialog()
		{		
				$('#channel_submit_button').html("<span class='ui-button-text'>Изменить</span>");
				$("#channel-edit-form").dialog( "open" );
				$("#channel-edit-form #action").val("edit_channel");
		}
		
		function add_channel_dialog()
		{
				$('#channel_submit_button').html("<span class='ui-button-text'>Добавить</span>");
				$("#channel-edit-form #name").val("");
				$("#channel-edit-form").dialog( "open" );
				$("#channel-edit-form #action").val("add_channel");
				$("#channel-edit-form #event").prop('checked', true);
				$("#channel-edit-form #enable").prop('checked', true);

				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { plugin : 'channels', action : "get_astra_select" },
				  async: false,
				  success: function(html){  
       						 $("#astra_select").html(html);
				   }  
				});
		}
		
</script> 
