<tr>
<td height="28" width="8%">{priority}</td>
<td width="82%">{url}</td>
<td width="10%">
	<a href="#" onclick='edit_input_dialog({input_id});
                        return false;'><img border="0" style="padding-left: 5px; padding-right: 5px;" src="images/icons/cog.png" alt="Редактировать" title="Редактировать"></a>
   	<a onclick="delete_input({input_id}); return false;"  href="#" ><img title="Удалить вход" src="images/icons/cross.png"></a>
</td>
</tr>