<tr>
<td height="28" width="15%">{input_pid}</td>
<td height="28" width="75%">{output_pid}</td>
<td width="10%">
   	<a href="" onclick='$("#map-edit-form #map_id").val("{map_id}");
                        $("#map-edit-form #input_pid").val("{input_pid}");
                        $("#map-edit-form #output_pid").val("{output_pid}");
                        edit_map_dialog();
                        return false;'><img border="0" style="padding-left: 5px; padding-right: 5px;" src="images/icons/cog.png" alt="Редактировать" title="Редактировать"></a>
    <a onclick="delete_map({map_id}); return false;"  href=""><img title="Удалить преобразование" src="images/icons/cross.png"></a>
</td>
</tr>