<tr>
<td height="28" width="90%">{url}</td>
<td width="10%">
   	<a href="#" onclick='edit_output_dialog({output_id});
                        return false;'><img border="0" style="padding-left: 5px; padding-right: 5px;" src="images/icons/cog.png" alt="Редактировать" title="Редактировать"></a>
    <a onclick="delete_output({output_id}); return false;"  href="#"><img title="Удалить выход" src="images/icons/cross.png"></a>
</td>
</tr>