 <tr >
    <td style="height: 30px;" >{astra_id}</td>
    <td ><strong>{name}</strong></td>
    <td >{control_server_addr}</td>
    <td >{control_server_port}</td>
    <td >
        <a href="#" onclick='$("#astra-edit-form #name").val("{name}");
                             $("#astra-edit-form #astra_id").val("{astra_id}");
                             $("#astra-edit-form #control_server_addr").val("{control_server_addr}");
                             $("#astra-edit-form #control_server_iface").val("{control_server_iface}");
                             $("#astra-edit-form #control_server_port").val("{control_server_port}");
                             $("#astra-edit-form #event_request").val("{event_request}");
                             $("#astra-edit-form #event_request_interval").val("{event_request_interval}");
                             edit_astra_dialog();
                             return false;'><img border="0" style="padding-left: 5px; padding-right: 5px;" src="images/icons/cog.png" alt="Редактировать" title="Редактировать"></a>
        
        <a href="{php_self}?plugin=astras&action=reload_astra&astra_id={astra_id}" onclick="return confirm('Перезагрузить?')"><img title="Перезагрузить" src="images/icons/arrow_refresh.png"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="{php_self}?plugin=astras&action=delete_astra&astra_id={astra_id}" onclick="return confirm('Удалить экземпляр?')"><img title="Удалить экземпляр" src="images/icons/cross.png"></a>
        </td>
  </tr>