<table width="100%" border="0" cellspacing="0" id="astras">
  <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Адрес</th>
      <th>Порт</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  {list}
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><input type="button" onclick="add_astra_dialog()" value="Добавить экземпляр"/></td>
  </tr>
</table>
<div id="astra-edit-form" title="Экземпляр astra">
  <form action="{php_self}" id="astra-edit-form-f" >
    <label for='astra'>Название:</label>
    <input name='name' id='name' type="text" maxlength="50" class="text ui-widget-content ui-corner-all">
    <label for='control_server_addr'>Адрес управления:</label>
    <input name='control_server_addr' id='control_server_addr' type="text" maxlength="50" class="text ui-widget-content ui-corner-all">
    <label for='control_server_iface'>Интерфейс управления:</label>
    <input name='control_server_iface' id='control_server_iface' type="text" maxlength="50" class="text ui-widget-content ui-corner-all">
    <label for='control_server_port'>Порт управления:</label>
    <input name='control_server_port' id='control_server_port' type="text" maxlength="50" class="text ui-widget-content ui-corner-all">
    <label for='event_request'>URL мониторинга:</label>
    <input name='event_request' id='event_request' type="text" maxlength="200" class="text ui-widget-content ui-corner-all">
    <label for='event_request_interval'>Интервал мониторинга:</label>
    <input name='event_request_interval' id='event_request_interval' type="text" maxlength="10" class="text ui-widget-content ui-corner-all">
    <input type="hidden" name='plugin' id='plugin' value="astras">
    <input type="hidden" name='action' id='action' value="add_astra">
    <input type="hidden" name='astra_id' id='astra_id' value="">
  </form>
</div>
<script type='text/javascript'>
	$(document).ready(function() {
    	$('#astras').dataTable( {
				"bPaginate": false,
				"bLengthChange": false,
				"bFilter": true,
				"bSort": true,
				"bInfo": false,
				"bAutoWidth": false,
		        "bJQueryUI": true,
				"bStateSave": true,
				"oLanguage": {
                	"sUrl": "scripts/jquery/datatables/js/dataTables.russian.txt"
            	},
				"sDom": '<"H"<"#astras_header"lfr>lfr>t<"F"ip><"clear">',
				"aoColumnDefs": [
					  { "sWidth": "25px", "aTargets": [ 0 ] },
					  { "sWidth": "100px", "aTargets": [ 4 ] },
					  { 'bSortable': false, 'aTargets': [ 4 ] }
				],
				"fnInitComplete": function(oSettings, json) {
					$("#astras_header").html('Экземпляры astra');
				}
			});
		} );
		
		$("#astra-edit-form").dialog(
		{
			autoOpen: false,
			height: 470,
			width: 300,
			modal: true,
			open: function () {
				$("#astra-edit-form #action").val("edit_astra");
    		},
			buttons: {
				"Изменить": function()
				{
					$(this).dialog("close");
					$("#astra-edit-form-f").submit();
				},
				"Отмена": function()
				{
					$(this).dialog("close");
				}
			},
		});
		
		function edit_astra_dialog()
		{		
				$(".ui-dialog-buttonpane button:contains(Добавить)").attr("id","dialog_box_send-button");
				$('#dialog_box_send-button').html("<span class='ui-button-text'>Изменить</span>");
				$("#astra-edit-form").dialog( "open" );
				$("#astra-edit-form #action").val("edit_astra");
		}
		
		function add_astra_dialog()
		{
				$(".ui-dialog-buttonpane button:contains(Изменить)").attr("id","dialog_box_send-button");
				$('#dialog_box_send-button').html("<span class='ui-button-text'>Добавить</span>");
				$("#astra-edit-form #name").val("");
				$("#astra-edit-form #control_server_addr").val("");
				$("#astra-edit-form #control_server_iface").val("");
				$("#astra-edit-form #control_server_port").val("");
				$("#astra-edit-form #event_request").val("{monitor_link}");
				$("#astra-edit-form #event_request_interval").val("30");
				$("#astra-edit-form").dialog( "open" );
				$("#astra-edit-form #action").val("add_astra");
		}
		
</script> 