<table width="100%" border="0" cellspacing="0" cellpadding="4" id='camservers'>
  <thead>
    <tr>
      <th style="">#</th>
      <th style="">ID</th>
      <th style="">Название</th>
      <th style="">Адрес</th>
      <th style="">Порт</th>
      <th style="">Пользователь</th>
      <th style="">Пароль</th>
      <th style="">Таймаут</th>
      <th style="">Ключ</th>
      <th style="">EMM</th>
      <th style="">&nbsp;</th>
    </tr>
  </thead>
  {list}
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><input type="button" onclick="add_camserver_dialog()" value="Добавить сервер"/></td>
  </tr>
</table>
<div id="camserver-edit-form" title="Параметры сервера">
  <form id="camserver-edit-form-f" >
    <fieldset>
      <label for="name">Название: </label>
      <input name='name' id='name' type="text"  maxlength="50" class="text ui-widget-content ui-corner-all" />
      <label for="host">Адрес: </label>
      <input name='host' id='host' type="text"  maxlength="50" class="text ui-widget-content ui-corner-all" />
      <label for="port">Порт: </label>
      <input name='port' id='port' type="text"  maxlength="50" class="text ui-widget-content ui-corner-all" />
      <label for="user">Пользователь: </label>
      <input name='user' id='user' type="text"  maxlength="50" class="text ui-widget-content ui-corner-all" />
      <label for="pass">Пароль: </label>
      <input name='pass' id='pass' type="text"  maxlength="50" class="text ui-widget-content ui-corner-all" />
      <label for="timeout">Таймаут: </label>
      <input name='timeout' id='timeout' type="text"  maxlength="50" class="text ui-widget-content ui-corner-all"/>
      <label for="key">Ключ: </label>
      <input name='key' id='key' type="text" maxlength="50" value="0102030405060708091011121314" class="text ui-widget-content ui-corner-all" />
      <label for="disable_emm">EMM: </label>
      <select name='disable_emm' id='disable_emm' >
        <option value="false">Да</option>
        <option value="true">Нет</option>
      </select>
    </fieldset>
    <input type="hidden" name='newcamd_id' id='newcamd_id' value="">
    <input type="hidden" name='plugin' id='plugin' value="camservers">
    <input type="hidden" name='action' id='action' value="add_server">
  </form>
</div>
<script type='text/javascript'>
	$(document).ready(function() {
    	$('#camservers').dataTable( {
				"bPaginate": false,
				"bLengthChange": false,
				"bFilter": true,
				"bSort": true,
				"bInfo": false,
				"bAutoWidth": false,
		        "bJQueryUI": true,
				"bStateSave": true,
				"oLanguage": {
                	"sUrl": "scripts/jquery/datatables/js/dataTables.russian.txt"
            	},
				"sDom": '<"H"<"#camservers_header"lfr>lfr>t<"F"ip><"clear">',
				"aoColumnDefs": [
					  { "sWidth": "25px", "aTargets": [ 0 ] },
					  { "sType": "ip-address", "aTargets": [ 3 ] },
					  { 'bSortable': false, 'aTargets': [ 6,7,10 ] }
				],
				"fnInitComplete": function(oSettings, json) {
					$("#camservers_header").html('CAM-Серверы');
				}
			});
		} );
		
		$("#camserver-edit-form").dialog(
		{
			autoOpen: false,
			height: 580,
			width: 300,
			modal: true,
			open: function () {
				$("#camserver-edit-form #action").val("edit_server");
    		},
			buttons: {
				"Изменить": function()
				{
					$(this).dialog("close");
					$("#camserver-edit-form-f").submit();
				},
				"Отмена": function()
				{
					$(this).dialog("close");
				}
			},
		});

		function edit_camserver_dialog()
		{		
				$(".ui-dialog-buttonpane button:contains(Добавить)").attr("id","dialog_box_send-button");
				$('#dialog_box_send-button').html("<span class='ui-button-text'>Изменить</span>");
				$("#camserver-edit-form").dialog( "open" );
				$("#camserver-edit-form #action").val("edit_server");
		}
		
		function add_camserver_dialog()
		{
				$(".ui-dialog-buttonpane button:contains(Изменить)").attr("id","dialog_box_send-button");
				$('#dialog_box_send-button').html("<span class='ui-button-text'>Добавить</span>");
				$("#camserver-edit-form #name").val("");
				$("#camserver-edit-form #host").val("");
				$("#camserver-edit-form #port").val("");
				$("#camserver-edit-form #user").val("");
				$("#camserver-edit-form #pass").val("");
				$("#camserver-edit-form #timeout").val("0");
				$("#camserver-edit-form #key").val("0102030405060708091011121314");
				$("#camserver-edit-form").dialog( "open" );
				$("#camserver-edit-form #action").val("add_server");
		}
		
</script> 
