 <tr >
    <td style="height: 30px;">{num}</td>
    <td style="">{newcamd_id}</td>
    <td style=""><strong>{name}</strong></td>
    <td style=""><strong>{host}</strong></td>
    <td style="">{port}</td>
    <td style="">{user}</td>
    <td style="">{pass}</td>
    <td style="">{timeout}</td>
    <td style="">{key}</td>
    <td style="">{disable_emm_text}</td>
    <td style="">
        <a href="#" onclick='$("#camserver-edit-form #name").val("{name}");
        					 $("#camserver-edit-form #host").val("{host}");
                             $("#camserver-edit-form #port").val("{port}");
                             $("#camserver-edit-form #user").val("{user}");
                             $("#camserver-edit-form #pass").val("{pass}");
                             $("#camserver-edit-form #timeout").val("{timeout}");
                             $("#camserver-edit-form #key").val("{key}");
                             $("#camserver-edit-form #disable_emm").val("{disable_emm}");
                             $("#camserver-edit-form #newcamd_id").val("{newcamd_id}");
                             edit_camserver_dialog();
                             return false;'><img border="0" style="padding-left: 5px; padding-right: 5px;" src="images/icons/cog.png" alt="Редактировать" title="Редактировать"></a>
    	<a href="{php_self}?plugin=camservers&action=delete_server&newcamd_id={newcamd_id}" onclick="return confirm('Удалить сервер?')"><img title="Удалить сервер" src="images/icons/cross.png"></a>
        </td>
  </tr>